body {
    background-color: black;
    background-image: url(backimg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
h1 {
    text-align: center;
}

h2 {text-align: center;
}

.title-chap {
    font-family: 'Tangerine', cursive;
    font-size: 60px;
}
.chapter-content {
    text-indent: 50px;
}
* {
    box-sizing: border-box;
}
.page1 {
    float: left;
    width: 50%;
    padding: 20px;
    word-wrap: normal;
}
.row1:after {
    content: "";
    display: table;
    clear: both;
}

