body {
    background-color: black;
    background-image: url(backimg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.navbar {
    overflow: hidden;
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
}
.navbar a {
    float: left;
    padding: 15px;
    color: yellow;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 18px;
    width: 33%;
    text-align: center;
}
h1 {
    text-align: center;
}

h2 {text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 60px;
}

.title-chap {
    font-family: 'Tangerine', cursive;
    font-size: 70px;
    color: yellow;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
.chapter-content {
    text-indent: 50px;
}
* {
    box-sizing: border-box;
}
.page1 {
    float: left;
    width: 50%;
    padding: 25px;
    word-wrap: normal;
}
.row21:after {
    content: "";
    display: table;
    clear: both;
}
.quotes {
    text-align: center;
}
#ch4-1 {
    margin-top: 400px;
    margin-bottom: 150px;
    filter: sepia(100%);
    border-radius: 10%;
}

#ch4-2, #ch4-3, #ch4-4 {
    margin-top: 150px;
    margin-bottom: 150px;
    filter: sepia(100%);
    border-radius: 10%;
}
#ch5-1 {
    margin-top: 500px;
    margin-bottom: 150px;
    filter: sepia(100%);
    border-radius: 10%;
}
#ch6-1 {
    margin-top: 1000px;
    margin-bottom: 200;
    filter: sepia(100%);
    border-radius: 10%;
}
#ch5-2, #ch5-3, #ch5-4, #ch5-5, #ch6-2, #ch6-3, #ch6-4, #ch6-5 {
    margin-top: 200px;
    margin-bottom: 200px;
    filter: sepia(100%);
    border-radius: 10%;
}